@media only screen and (max-width: 960x) {

    #side aside {
        clear: both;
        float: none;
        width: auto;
        position: static;
    }

    /*SNSボタン*/
    .sns .fa {
        font-size: 20px;
    }

    .sns li a {
        padding: 10px 15px;
    }
}
